
<button (click)="prev(_mode.frame_by_frame)" style="z-index: 1">prev</button>
<button  (click)="next(_mode.frame_by_frame)" style="z-index: 1">next</button>
<mat-slider min=50 max = 120>
    <input matSliderThumb [(ngModel)]="delay_multiplier">
</mat-slider>
<div class="video-container">
    <canvas #newImg></canvas>
</div>

<img #imgElement [hidden]="true" *ngIf="ngif" src="https://mms-video-storage.s3.eu-central-1.amazonaws.com/videos/B-10_0-jSLmRpeC_GIF.gif" 
rel:animated_src="https://mms-video-storage.s3.eu-central-1.amazonaws.com/videos/B-10_0-jSLmRpeC_GIF.gif" (load)="onImgLoaded($event)" [attr.clientWidth]="wwidth">